# Directories
.idea
.vscode
my-project-v2.zip
my-project-v3.zip
my-project-v4-beta.zip
my-project-v5.zip
my-project-v6.zip
my-project-v7.zip
my-project-v8.zip
my-project-v9.zip
my-project-v10.zip
my-project-v11.zip
my-project-v12.zip
my-project.zip
node_modules


# Files
.env
